doctype html
head
    title Add Product
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
.container
    h2 Add Product
    form(action='/add-product' method='post' enctype="multipart/form-data")
        .form-group
            label Name
            input.form-control(type='text' placeholder='Enter product name' name='name')
        .form-group
            label Description
            input.form-control(type='text' placeholder='Enter product description' name='desc')
        .form-group
            label Price
            input.form-control(type='text' placeholder='Enter product price' name='price')
        .form-group
            label Category
            input.form-control(type='text' placeholder='Enter product category' name='category')
        .form-group
            label Image
            input.form-control(type='file' name='image')
        button.btn.btn-success(type='submit') Add
        br
        br
        a(href='/home')
            button.btn.btn-dark(type='button') Back to product page
